#form{
    input{
        padding:10px 15px;
    }
    button{
        color: wheat;
        background: #2f12ff;
        /* border: groove; */
        /* border-style: groove; */
        border: 7px solid transparent;
        padding: 12px 15px;
        cursor: pointer;
    }
     
}
header{
    text-align: center;
}